<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <p *ngIf="this.clientText">{{ this.clientText }}</p>
  <ion-button (click)="this.createWallet()">Crear Wallet</ion-button>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
